h1{
    color: black;
    font-size: 24px;
}
label{
    color: black;
    font-size: 15px;
}
.text{
    background-color: white;
    border: 1px solid black;
    border-radius: 2%;
    width: 40%;
}
.innertext{
    border: 1px solid black;
    border-radius: 1%;
    border-width: 30%;
}